body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.75rem;
  margin: auto;
  width: 95%;
}

.product-img {
  border-radius: 0.75rem 0.75rem 0 0;
  height: 100%;
  width: 100%;
}